<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.760.59" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="19.0.120" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.760.59" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.760.59" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Vision" version="13.7.120" targetFramework="native1.12-tchmi" />
  <package id="EventVision" version="1.0.0" targetFramework="native1.12-tchmi" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="native1.12-tchmi" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="4.9.5" developmentDependency="true" />
</packages>